.header {
    /* display: grid; */
    display: flex;
    grid-template-rows: none;
    grid-template-areas: 
    "home about portfolio services contact";
    grid-template-areas: "icon menu";
    padding: 40px;
    /* flex-direction: column; */
    flex-direction: right;
    /* removed background image as it was unnecessary when using this new navbar code */
    background-size: cover;
    border-bottom: solid rgb(187, 181, 181);
    border: outset;
    position: fixed;
    top: 0;
    width: 100%;
  }

  .header .menu {
    grid-area: menu;
    grid-auto-flow: row;
    display: flex;
    grid-gap: 32px;
    align-items: right;
    justify-content: right;
  }

  main {
    margin-top: 207px;
  }

  #home {
    /* removed background color from original portfolio, looks slick and clean now */
    border-top: solid rgb(187, 181, 181);
    border-style: double;
    border-bottom: solid rgb(187, 181, 181);
  }
  
  .header .icon {
    grid-area: icon;
    height: 114px;
    border-bottom: solid 1px #00000000;
  }
  
  /* added this to make profile pic correct size */
  #me {
    width: 30%;
    height:30%
  }
 

  a {
    color: inherit;
    text-decoration: none;
    -webkit-text-stroke-width: thin;
  }
  
  .menu > *:hover {
    font-weight: bold;
    /* changed the hover text colour change to white, since the new navbar is black */
    color: white;
  }
  
  section {
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    padding: 40px;
    text-align: justify;
  }

  section #contact {
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    padding: 40px;
    text-align: justify;
  }
  
  .row {
    font-family: Arial, Helvetica, sans-serif;
    padding: 40px;
    text-align: justify;
  }

  .services-img {
    border-radius: 50%;
    width: 140px;
    height: 140px;
  }
  
  #contact ul {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
  
  section > * {
    padding-right: 40px;            
    padding-bottom: 40px;
  
  }
  
  section > *:last-child {
    padding-right: 0px;
    padding-bottom: 0px;
  }

  .card {
    /* changed the display from flex to inline-block, allows for the cards to be positioned side by side without issue */
    display: inline-block;
    justify-content: space-between;
  }

  /* added card hover function to address the resizing requirement from the last challenge */
  .card:hover{
    transform: scale(1.05);
 box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

/* removed jumbotron entirely, new Hero code is a better fit */

  @media only screen and (max-width: 600px) {
    section {
      flex-direction: column;
    }
  
    section > * {
      padding-bottom: 40px
    }
  
    section img {
      justify-items: normal;
    }
  }
  